{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>MeteoBeaver</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/forecast.css' %}">
  <script src="{% static 'js/jquery.cookie.js' %}"></script>
</head>
<body id="homebody">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'forecast:home' %}">Prognoza pogody</a>
    </div>
    
    
    
	<form method="post" action="{% url 'forecast:update' %}" class="navbar-form navbar-right">
     {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" name="city" value="{{city}}" placeholder="Miejscowość">
      </div>
      <button type="submit" class="btn btn-warning">Szukaj</button>
    </form>
	
	<h4 id="timer" class="navbar-text navbar-right"></h4>
  </div>
</nav>
<br />
<div id="container">
{% block content %}
{% endblock %}
</div>
<script>
setInterval(function() {
	var d = new Date()
	var day = d.getDate();
	var month = ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"];
	month = month[d.getMonth()];
	var year = d.getFullYear();
	var hours = d.getHours() <10 ? "0"+d.getHours(): d.getHours();
	var minutes = d.getMinutes() <10 ? "0"+d.getMinutes(): d.getMinutes();
	document.getElementById("timer").innerHTML = hours + ":" + minutes + ", " + day + " " + month + " " + year;
},1000)
</script>
</body>
</html>
